html, body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

body {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 10px 0;
  background: rgba(0,0,0,0.5);
}

.logo {
  border: 0;
  margin: 0 30px 0;
}

.nav {
  display: inline-block;
  padding: 10px;
}

.nav li {
  color: #fff;
  display: inline;
  margin-right: 30px;
  padding: 0 0 5px;
}

.nav li:hover {
  color: #00ffbc;
  cursor: pointer;
  border-bottom: 1px solid #00ffbc;
}

/* Jumbotron */
.jumbotron {
  background-color: transparent;
  position: relative;
  top: 50px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.col-md-4 {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

/* Footing */
.footer {
  text-align: center;
}

.btn {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border: 0px solid;
  border-radius: 8px;
  background: rgba(0,255,188,0.5);
  padding: 10px 60px;
  margin: 20px 0 80px;
}

.btn:hover {
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.btn:active {
  background: #fff;
  color: #000;
}
